body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.nav-link {
  color: #555 !important;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background-color: #f2f2f2 !important;
}

.nav-link.active {
  background-color: #b30000 !important;
  color: white !important;
}

.card {
  border-left: 8px solid #b30000;
}

h3 {
  font-weight: 600;
}

.btn-light {
  border: none;
}

.alert {
  border-radius: 10px;
}
